* {
	font-family: 'Victor Mono SemiBold' !important;
	border-radius: 0px !important;
}

:not([inDOMFullscreen='true']) #appcontent,
#sidebar-box {
	padding-left: 3px !important;
}

/* Background color */
#zen-main-app-wrapper {
	background: #161925 !important;
}

/* Menu and popups */
:root {
	--zen-appcontent-border: 1px #743ad5 solid !important;
	--tab-min-height: 32px !important;
	--urlbarView-labeled-tip-margin-top-extra: 0px !important;
	--urlbarView-labeled-row-margin-top: 0px !important;
	--urlbarView-labeled-row-label-top: 0px !important;
	--inactive-titlebar-opacity: 1 !important;
	--tab-selected-bgcolor: #000000 !important;
	--zen-toolbar-height: 48px !important;
}

panel toolbarseparator {
	border-top: 1px #743ad5 solid !important;
}

menuseparator::before {
	border-top: 1px #743ad5 solid !important;
}

#appMenu-zoom-controls {
	border-top: 1px #743ad5 solid !important;
}

menupopup::part(content),
panel::part(content) {
	border: 1px #743ad5 solid !important;
}

menupopup,
panel {
	--panel-background: #161925 !important;
}

.subviewbutton {
	border: 1px transparent solid !important;
}

:is(
		panelview .toolbarbutton-1,
		toolbarbutton.subviewbutton,
		.widget-overflow-list .toolbarbutton-1,
		.toolbaritem-combined-buttons:is(:not([cui-areatype='toolbar']), [overflowedItem='true']) > toolbarbutton
	) {
	&:not([disabled]):hover {
		border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
		border-width: 1px !important;
		border-style: solid !important;
	}
}
menu,
menuitem {
	border: 1px transparent solid !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 32px !important;
}

menu,
menuitem {
	&:where([_moz-menuactive]:not([disabled='true'])) {
		border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
		border-width: 1px !important;
		border-style: solid !important;
	}
}

/* Tabs */
#navigator-toolbox toolbar#TabsToolbar {
	padding-top: 0px !important;
	padding-bottom: 5px !important;
}

.tabbrowser-tab {
	border: 1px transparent solid !important;
	--tab-min-width: 32px !important;
	color: #eeeeff !important;
	text-shadow: none !important;
	height: 32px !important;
	min-height: unset !important;
}

.tabbrowser-tab:is([multiselected='true'], [selected]) {
	background-color: #000000 !important;
	border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
	border-width: 1px !important;
	border-style: solid !important;
	text-shadow: 0 0 5px #fc199a !important;
	color: #ffd318 !important;
}

#tabbrowser-tabs {
	margin-top: 2px !important;
}

#tabbrowser-tabs {
	& .tabbrowser-tab {
		&[selected] .tab-background {
			background: #000 !important;
		}
	}
}

#tabbrowser-tabs {
	& .tabbrowser-tab {
		@media (-moz-bool-pref: 'zen.tabs.dim-pending') {
			&[pending='true'] .tab-label-container {
				opacity: 0.5;
			}
		}
	}
}

toolbarbutton {
	--zen-sidebar-action-button-width: 32px !important;
	height: var(--zen-sidebar-action-button-width) !important;
}

hbox toolbarbutton {
	width: var(--zen-sidebar-action-button-width) !important;
	border: 1px transparent solid !important;
	padding: 0px !important;
	margin-top: auto !important;
}

.tab-background {
	margin-block: unset !important;
}

:is(toolbarbutton) {
	&:not([disabled]):hover {
		border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
		border-width: 1px !important;
		border-style: solid !important;
	}
}

.tabbrowser-tab:hover {
	border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
	border-width: 1px !important;
	border-style: solid !important;
}

& #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
	border: 1px #743ad5 solid !important;
	background-color: #000000 !important;
	box-shadow: 0 0 0 0px transparent !important;
}

& #titlebar,
& #TabsToolbar,
& #TabsToolbar .toolbar-items {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button,
#TabsToolbar #new-tab-button,
#new-tab-button {
	width: 100% !important;
	margin-top: 0px !important;
}

.toolbarbutton-1:hover,
#tabs-newtab-button:hover,
#vertical-tabs-newtab-button:hover,
#TabsToolbar #new-tab-button:hover,
#new-tab-button:hover {
	background-color: #2c3345 !important;
}

.toolbarbutton-badge-stack,
.toolbarbutton-badge-stack:hover,
.toolbarbutton-1,
.toolbarbutton-icon,
.toolbarbutton-icon:hover {
	background-color: unset !important;
}

#vertical-tabs-newtab-button {
	width: 100% !important;
	margin-top: 0px !important;
	background: unset !important;
}

& #tabbrowser-arrowscrollbox .tabbrowser-tab:first-child:not([hidden]) {
	margin-top: 0px !important;
}

& #tabbrowser-arrowscrollbox::part(scrollbox) {
	padding-top: 0px !important;
}

#newtab-button-container {
	&::before {
		background: linear-gradient(to left, #743ad5, #f222ff, #743ad5) !important;
	}
}

/* Address bar */
#urlbar {
	font-size: unset !important;
	border: 1px #743ad5 solid !important;
}

.urlbar-input {
	background-color: transparent !important;
	color: #eeeeff !important;
}

#urlbar-background,
#searchbar {
	background-color: #000000 !important;
}

.urlbarView-body-inner {
	#urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
		border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
		border-width: 1px !important;
		border-style: solid !important;
	}
}

#urlbar[open] > #urlbar-background {
	border: 0px !important;
}

.urlbarView-title {
	.urlbarView-row:not([selected]) & {
		color: #eeeeff !important;
	}
}

.urlbarView-title {
	.urlbarView-row:is([selected]) & {
		color: #ffd318 !important;
		text-shadow: 0 0 5px #fc199a !important;
	}
}

.urlbarView-title {
	.urlbarView-row:hover & {
		color: #ffd318 !important;
		text-shadow: 0 0 5px #fc199a !important;
	}
}

.urlbarView-url {
	.urlbarView-row:not([selected]) & {
		color: #eeeeff !important;
		opacity: 0.5 !important;
	}
}

.urlbarView-url {
	.urlbarView-row:is([selected]) & {
		color: #ffd318 !important;
		opacity: 1 !important;
		text-shadow: 0 0 5px #fc199a !important;
	}
}

.urlbarView-url {
	.urlbarView-row:hover & {
		color: #ffd318 !important;
		opacity: 1 !important;
		text-shadow: 0 0 5px #fc199a !important;
	}
}

#urlbar-zoom-button {
	background-color: transparent !important;
}

.urlbarView-row {
	height: 32px !important;
	border: 1px transparent solid !important;
	margin-left: 1px !important;
	margin-right: 3px !important;
	fill: #f222ff !important;
	&[row-selectable]:not([selected]):hover {
		background-color: #2c3345 !important;
		border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
		border-width: 1px !important;
		border-style: solid !important;
	}
}

.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
	border-top: 0px !important;
}

.urlbar-icon {
	fill: #f222ff !important;
}

#identity-box,
#tracking-protection-icon-container {
	fill: #f222ff !important;
}

#identity-box[pageproxystate='valid']:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button,
#identity-box[pageproxystate='valid'] > .identity-box-button,
#urlbar-label-box {
	color: #f222ff !important;
}

.searchbar-engine-one-off-item {
	color: #f222ff !important;
}

.urlbarView-row {
	&[selected] {
		background-color: transparent !important;
		border-image: linear-gradient(to left, #743ad5, #f222ff, #743ad5) 1 !important;
		border-width: 1px !important;
		border-style: solid !important;
	}
}

#nav-bar-customization-target {
	& > :is(toolbarbutton, toolbaritem):first-child,
	& > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
		padding-inline-start: 0px !important;
	}
}

#urlbar-container,
#search-container {
	margin-inline: 2px !important;
}

#identity-permission-box {
	background: transparent !important;
}

#urlbar .search-panel-one-offs-header-label {
	color: #f222ff !important;
}

/* Zen sidebar */
#zen-sidebar-icons-wrapper::before {
	background: linear-gradient(to left, #743ad5, #f222ff, #743ad5) !important;
}

#zen-sidebar-web-panel {
	border: 1px #743ad5 solid !important;
	background: #161925 !important;
}

#zen-sidebar-icons-wrapper {
	display: none !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 2px !important;
	margin-right: 0px !important;
	padding: 0px !important;
	--zen-sidebar-action-content-separator: 7px !important;
	padding-top: var(--zen-sidebar-action-content-separator) !important;
	margin-top: var(--zen-sidebar-action-content-separator) !important;
}

/* Buttons */
#zen-workspaces-button {
	border: 0px !important;
}

.titlebar-buttonbox-container {
	display: none !important;
}

.toolbarbutton-animatable-box,
.toolbarbutton-1 {
	fill: #f222ff !important;
}

.tab-icon-stack .tab-icon-image {
	color: #f222ff !important;
}

#identity-icon-box {
	background: transparent !important;
}

#PanelUI-menu-button {
	margin-right: 8px !important;
}

#zen-profile-button::before {
	left: inherit !important;
}

/* Split view */
#tabbrowser-tabpanels:has(> [zen-split='true']) {
	display: flex !important;
}

#tabbrowser-tabpanels[zen-split-view='true'] {
	flex-direction: column !important;
}

/* Find bar */
findbar {
	background: #161925 !important;
	border-top: 1px #743ad5 solid !important;
	padding-bottom: 8px !important;
	padding-top: 8px !important;
}

findbar toolbarbutton {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.findbar-container {
	height: inherit !important;
}

.findbar-textbox {
	border: 1px solid #743ad5 !important;
	height: 32px !important;
	background: #000000 !important;
}

.findbar-find-previous,
.findbar-find-next,
.findbar-closebutton {
	align-items: center !important;
	fill: #f222ff !important;
}

.findbar-find-previous image,
.findbar-find-next image,
.findbar-closebutton image {
	width: 16px p !important;
	height: 16px p !important;
}

.findbar-find-previous label,
.findbar-find-next label,
.findbar-closebutton label {
	display: none !important;
}

.tab-label-container {
	height: unset !important;
}

#navigator-toolbox {
	margin-left: 8px !important;
	padding: 0px !important;
}

#TabsToolbar-customization-target:after {
	display: none !important;
}

/* Vertical view */
@media (-moz-bool-pref: 'zen.tabs.vertical') {
	#zen-sidebar-top-buttons {
		display: none !important;
	}
}

#new-tab-button {
	width: 32px !important;
	margin-left: 6px !important;
	margin-right: 6px !important;
}

#navigator-toolbox {
	margin-left: 0px !important;
	min-width: 44px !important;
}
