@define-color base1 #0c0e14;
@define-color base2 #40455;
@define-color font1 #f222ff;
@define-color font2 #ffd318;
@define-color font3 #eeeeff;
@define-color border #743ad5;
@define-color shadow #fc199a;
@define-color background #161925;
@define-color backgroundselected #2c3345;

* {
	all: unset;
	border: none;
	border-radius: 0;
	font-family: Victor Mono SemiBold;
	font-size: 18px;
	min-height: 32px;
	font-weight: bold;
	outline: none;
}

window {
	background: @background;
}

#input {
	margin-bottom: 10px;
	padding: 0px 8px 0px 8px;
	border: 1px solid @border;
	color: @font3;
	background-color: @base1;
}

#inner-box {
	border: 0px;
}

#outer-box {
	padding: 10px;
	background-color: @base2;
}

#text {
	padding: 0px 4px 0px 16px;
	background-color: transparent;
	color: @font1;
}

#img {
	background-color: transparent;
	padding-left: 10px;
}

#entry {
	padding: 0px;
	border: 1px solid transparent;
}

#entry:selected {
	background-color: @backgroundselected;
	border: 1px solid @border;
}

#text:selected {
	color: @font2;
	text-shadow: 0 0 5px @shadow;
}
